//<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================

//====================================================================================================

//====================================================================================================

.title {
	// .title__main

	&__main {
		/* Style for "Find Your" */
		font-size: 48px;
		font-weight: 700;
		color: #868686;
	}

	&__main-s {
		width: auto;
		text-align: center;
		padding: 0 0 0 0px;
		color: #ffffff;
	}

	// .title__text
	@media (max-width: $md4+px) {
		font-size: 38px;
	}

	&__text {
		//width: 487px;
		color: #868686;
		font-size: 16px;
		font-weight: 400;
		padding: 48px 0 0 0;
	}
	&__text-s {
		width: auto;
		text-align: center;
		color: #ffffff;
		padding: 48px 0 0 0;
	}
}

//СЛАЙДЕР НА ГЛАВНОЙ=============================================================================

.main-slider {
	// .main-slider__botton
	display: block;
	&__botton {
		input {
			margin: -5000px;
		}
	}
}
.botton {
	// .botton__navigation

	&__navigation {
		display: block;
		height: 10px;
		width: 10px;
		position: relative;
		left: 43%;

		label {
			display: block;
			height: 10px;
			width: 10px;
			cursor: pointer;
			background-color: #000000;
			border-radius: 10px;
			transition: all 0.4s ease;
			opacity: 0.5;
			position: absolute;
			top: -35px;
			z-index: 2;
			&:last-child {
				left: 30px;
			}
			&:hover {
				opacity: 0.8;
				transform: scale(1.2);
			}
		}
	}
}

//END СЛАЙДЕР НА ГЛАВНОЙ=============================================================================

// СЛАЙДЕР-2 ==========================================================================================

.one-sentence {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: 595px;
}

.title-block {
	display: flex;
	flex-direction: column;
	width: 490px;
}

/* !!Конкретный Слайдер ==== */
.slider-2 {
	display: flex;
	flex-direction: row;
	//position: relative;
	//right: -700px;
	//top: -320px;
	min-width: 0px; // когда слайдер находится внутри флекс эллемента или является частью флекс эллемента - иначе салйдер не будет работать
	//padding: 0 50px;
	width: 690px;
	height: 425px;
	@media (max-width: 1283px) {
		width: 300px;
	}
	// объект слайдера
	.slider-item {
		min-width: 0; // когда слайдер находится внутри флекс эллемента или является частью флекс эллемента - иначе салйдер не будет работать
		width: 273px;
		img {
			border-radius: 3%;
		}
	}
	.slick-slider {
		width: 720px;
	}
	// ограничивающая оболочка поля слайдера
	.slick-list {
		overflow: hidden; //убрать кусок слайда лишнего
		width: 700px;
	}
	/* Лента слайдов */
	.slick-track {
		display: flex;
	}
	/* Стрелка */
	.slick-arrow {
		position: absolute;
		top: 50%;
		margin: -30px 0 0 0;
		z-index: 10;
		font-size: 0;
		width: 30px;
		height: 60px;
	}
}

/* Слайдер */
.slider-2 .slick-slider {
}
/* Слайдер запущен */
.slider-2 .slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slider-2 .slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slider-2 .slick-list {
}

/* Слайд */
.slider-2 .slick-slide {
}
/* Слайд активный (показывается) */
.slider-2 .slick-slide.slick-active {
}
/* Слайд основной */
.slider-2 .slick-slide.slick-current {
}
/* Слайд по центру */
.slider-2 .slick-slide.slick-center {
}
/* Клонированный слайд */
.slider-2 .slick-slide.slick-cloned {
}
/* Стрелка */
.slider-2 .slick-arrow {
}
/* Стрелка влево */
.slider-2 .slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slider-2 .slick-arrow.slick-next {
}
/* Стрелка не активная */
.slider-2 .slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slider-2 .slick-dots {
}
.slider-2 .slick-dots li {
}
/* Активная точка */
.slider-2 .slick-dots li.slick-active {
}
/* Элемент точки */
.slider-2 .slick-dots li button {
}

//END СЛАЙДЕР-2 ==========================================================================================
// СЛАЙДЕР-3 ==========================================================================================
.slider-3 {
	display: flex;
	flex-direction: row;
	//position: relative;
	//right: -700px;
	//top: -320px;
	min-width: 0px; // когда слайдер находится внутри флекс эллемента или является частью флекс эллемента - иначе салйдер не будет работать
	//padding: 0 50px;
	width: 690px;
	height: 425px;
	@media (max-width: 1283px) {
		width: 300px;
	}
	// объект слайдера
	.slider-item {
		min-width: 0; // когда слайдер находится внутри флекс эллемента или является частью флекс эллемента - иначе салйдер не будет работать
		width: 273px;
		img {
			border-radius: 3%;
		}
	}
	.slick-slider {
		width: 720px;
	}
	// ограничивающая оболочка поля слайдера
	.slick-list {
		overflow: hidden; //убрать кусок слайда лишнего
		width: 700px;
	}
	/* Лента слайдов */
	.slick-track {
		display: flex;
	}
}

// /* Точки (булиты) */
// .one-sentence .slick-dots {
// 	//display: flex;
// 	//align-items: flex-start;
// 	//justify-content: center;
// 	//margin-right: 40px;
// 	position: relative;
// 	top: 240px;
// 	left: -550px;
// }
.one-sentence .slick-dots li {
	list-style: none;
	margin: 0 10px;
}
/* Активная точка */
.one-sentence .slick-dots li.slick-active button {
	font-size: 0;
	width: 12px;
	height: 12px;
	background-color: transparent;
	border: solid rgb(115, 208, 252);
}
/* Элемент точки */
.one-sentence .slick-dots li button {
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: rgb(201, 200, 200);
	border-radius: 50%;
}

//END СЛАЙДЕР-3 ==========================================================================================

.slider-3 {
	display: flex;
	flex-direction: row;
	//position: relative;
	//right: -700px;
	//top: -320px;
	min-width: 0px; // когда слайдер находится внутри флекс эллемента или является частью флекс эллемента - иначе салйдер не будет работать
	//padding: 0 50px;
	width: 690px;
	height: 425px;
	@media (max-width: 1283px) {
		width: 300px;
	}
}
// объект слайдера
.slider-3 .slider-item {
	min-width: 0; // когда слайдер находится внутри флекс эллемента или является частью флекс эллемента - иначе салйдер не будет работать
	width: 371px;
	height: 260px;
}
.slider-3 .slick-slider {
	width: 1333px;
}
// ограничивающая оболочка поля слайдера
.slider-3 .slick-list {
	overflow: hidden; //убрать кусок слайда лишнего
	width: 1333px;
}
/* Лента слайдов */
.slider-3 .slick-track {
	display: flex;
}
/* Стрелка */
.slider-3 .slick-arrow {
	position: absolute;
	top: 50%;
	margin: -30px 0 0 0;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
/* Стрелка влево */
.slider-3 .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/3-slider/sl-arrow_l.svg") 0 0 /100% no-repeat;
}
/* Стрелка вправо */
.slick-arrow.slick-next {
	right: 0;
	background: url("../img/3-slider/sl-arrow_r.svg") 0 0 /100% no-repeat;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
	opacity: 0.2;
}
